/* Estilos Generales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: white;
}

/* Estilo del Encabezado */
header {
  background-color: black; 
  color: white; 
  padding: 10px; 
}

.navbar {
  display: flex;
  justify-content: center; 
}

.links a {
  color: white; 
  text-decoration: none; 
  margin: 0 15px; 
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

/* Estilo del Contenido */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px; /* Agrega espacio alrededor del contenido */
}

.pin {
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.pin.tall {
  grid-row: span 2;
}

.pin.short {
  grid-row: span 1;
}

.pin:hover {
  transform: scale(1.05);
}

.pin img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen */
  object-position: center; /* Centra la imagen dentro del contenedor */
}

/* Ajustes para la descripción */
.pin-description {
  padding: 5px; /* Reduce el espacio de padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
}

.pin-description p {
  margin: 0;
  font-weight: normal;
  overflow: hidden; /* Esconde el texto desbordante */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
  white-space: nowrap; /* Mantiene el texto en una sola línea */
}

/* Estilo del Pie de Navegación */
#footer {
  background-color: #000000;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
}

.footer2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item2 {
  display: flex;
  padding: 25px;
}

#avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.footer2 i, .footer2 a {
  color: white; /* Asegura que los iconos sean blancos */
}

/* Margen adicional para los pines */
.pin {
  margin: 0 5px; /* Espacio adicional a los lados */
}

#openModalBtn {
  padding: 10px 20px;
  font-size: 16px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Capa oscura */
  display: none;
  justify-content: center;
  align-items: flex-end; /* Alinea la ventana modal al final de la vista */
}

.modal {
  width: 100%; /* Abarca todo el ancho de la vista */
  background-color: #2a2a2a;
  color: white;
  border-radius: 35px 35px 0 0; /* Redondea las esquinas superiores */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  flex-grow: 1;
  color: #ffffff;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.casillas {
  display: flex;
  justify-content: space-evenly; /* Distribuye uniformemente los elementos */
  width: 100%;
}

.casilla2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido3 {
  width: 70px;
  height: 70px;
  background-color: #3b3b3b;
  border-radius: 15px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono {
  color: white;
  font-size: 24px;
}

.casilla2 p {
  color: #b3b3b3;
  font-size: 14px;
  margin: 0;
}

.modal-swipe-bar {
  width: 40px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 3px;
  margin-top: 10px;
}
