@media only screen and (device-width: 414px) and 
(device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
.contfondo {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    grid-auto-rows:min-content(100px,auto);
    color: white;
    padding: 10px;
        grid-auto-rows: auto;
        grid-gap: 10px;
        grid-auto-flow: dense;
        position: static;
}
}

.responsive{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.descp{
    display: flex;
    justify-content: space-between;
}

.contlog{
    top: 50%;
    bottom: 0;
    left: 0;
    background-color: black;
    box-shadow: -0px -80px 50px 70px black;
    margin-bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;   
}
.logform{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;

    color: white;
}
#logform,.crear{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
    color: white;
    text-align: center;
}

.logo{
    position: absolute;
    align-content: center;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 30%;
    left: 15%;
}
#logo{
    height: 100%;
    width: auto;
    max-width: 300px;
    position:static;
}
input{
    border-radius: 10px;
    height: 50px;
    width: 300px;
    padding: 10px 10px;
    background: none;
    border:3px solid gray;
    font-weight: 700;
}

.head{
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}
.boton{
    background-color: #E80024;
    color: white;
    border: none;
    border-radius: 25px;
}
#blue{
    color: blue;
}
input[type="text"], input[type="password"]{
    color: white;
}