@media only screen and (device-width: 414px) and 
(device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
.contfondo {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    grid-auto-rows:min-content(100px,auto);
    color: white;
    padding: 10px;
        grid-auto-rows: auto;
        grid-gap: 10px;
        grid-auto-flow: dense;
        position: static;
}
}

.responsive{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.descp{
    display: flex;
    justify-content: space-between;
}

.contlog{
    top: 50%;
    bottom: 0;
    left: 0;
    background-color: black;
    box-shadow: -0px -80px 50px 70px black;
    margin-bottom: 0;
    height: auto;
    position: absolute;
    width: 100%;   
}
.logform{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;

    color: white;
}
#logform,.crear{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
    color: white;
    text-align: center;
}

.logo{
    position: absolute;
    align-content: center;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 30%;
    left: 15%;
}
#logo{
    height: 100%;
    width: auto;
    max-width: 300px;
    position:static;
}
input{
    border-radius: 10px;
    height: 50px;
    width: 300px;
    padding: 10px 10px;
    background: none;
    border:3px solid gray;
    font-weight: 700;
}

.head{
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}
.boton{
    background-color: #E80024;
    color: white;
    border: none;
    border-radius: 25px;
}
#blue{
    color: blue;
}


/* aqui empiza ventana modal*/
#openModalBtn {
    padding: 10px 20px;
    font-size: 16px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa oscura */
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.modal {
    width: 100%;
    height: 20%;
    background-color: #333; /* Gris oscuro */
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.casillas {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}

.casilla2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido3 {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
}

.casilla2 p {
    margin-top: 5px;
}



.close-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* aqui termina ventana modal*/
a {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Quita el subrayado */
}

a:visited {
    color: inherit; /* Mantiene el color del elemento padre */
}

.icon {
    color: black; /* Color original del icono */
}