body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    height: calc(100% - 80px); 
    overflow-y: auto;
    padding: 5px;
}

@media only screen and (device-width: 414px) and 
(device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
.contfondo {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    grid-auto-rows:min-content(100px,auto);
    color: white;
    padding: 10px;
        grid-auto-rows: auto;
        grid-gap: 10px;
        grid-auto-flow: dense;
        position: static;
}
}

.responsive{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#footer {
    background-color: #000;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#avatar {
    width: 31px; 
    height: 31px;
    border-radius: 50%;
    object-fit: cover;
}

a {
    color: inherit; 
    text-decoration: none; 
}

a:visited {
    color: inherit; 
}

.icon {
    color: black; 
}

.ll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#perfil-narvar {
    display: flex;
    justify-content: start;
}

.post-nav {
    display: flex;
    width: 100%;
}

.post-nav2 {
    display: flex;
    width: 100%;
}

.search-box {
    flex: 9; /* Ocupa el 90% del ancho */
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-box input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.other-box {
    flex: 1; /* Ocupa el 10% del ancho */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-galerias {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 25%;
    flex-wrap: wrap;
}

.dividir {
    display: grid;
    width: 47%;
    height: 100%;
    background-color: #000000;
    padding: 5px;
}

#describir {
    display: grid;
    width: 100%;
}

#album-fotos {
    display: flex;
}

.flex-container {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    padding: 7px;
}

.flex-container button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15px;
}

.flex-container button:hover {
    background-color: #555;
}

.contenedor {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33.33%; /* Cada columna ocupa un tercio del ancho del contenedor visible */
    height: 100%;
}

.columna {
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(10, auto); /* Diez filas con tamaño automático */
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.casilla {
    margin: 5px;
    border-radius: 10px;
    width: 100%;
    padding: 3px;
    position: relative; /* Necesario para posicionar la imagen */
    overflow: hidden;   /* Asegura que la imagen no desborde la casilla */
}

.pequena {
    height: 130px;
}

.mediana {
    height: 200px;
}

.grande {
    height: 250px;
}

.contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin distorsión */
    top: 0;
    left: 0;
}

/* Aquí empieza la ventana modal */
#openModalBtn {
    padding: 10px 20px;
    font-size: 16px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa oscura */
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.modal {
    width: 100%;
    height: 20%;
    background-color: #333; /* Gris oscuro */
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.casillas {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}

.casilla2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido3 {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
}

.casilla2 p {
    margin-top: 5px;
}

.close-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Aquí termina la ventana modal */
